body {
  background-color: #333;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.text h1 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 8px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 5px solid orange;
  animation: typing 2s steps(18) 1, caret 0.5s steps(2) infinite;
}

@keyframes caret {
  from {
    border-color: transparent;
  }
  to {
    border-color: orange;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
